---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Andrew Bartlett Emery - Developer Success Engineer',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Work History', href: '#work-history' },
        { text: 'Blog', href: '#blog' },
        { text: 'LinkedIn', href: 'https://www.linkedin.com/in/andrewbartlettemery' },
      ]}
      actions={[
        {
          text: 'Contact Me',
          href: '#contact',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Hero
    id="hero"
    title="Drew Emery"
    tagline="Developer Advocate at WorkOS"
    actions={[{ variant: 'primary', text: 'Contact Me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Passionate about helping people build. Let's build the future together.
    </Fragment>
  </Hero>

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/andrewbartlettemery',
        },
      },
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          target: '_blank',
          text: 'Twitter',
          href: 'https://twitter.com/ethinallen',
        },
      },
    ]}
    image={{
      src: '~/assets/images/bkg.png',  // Update this path to match the location of your image
      alt: 'Andrew Bartlett Emery',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p>
        I am a Developer Success Engineer at WorkOS, with a strong background in software development and community building. I love sharing knowledge and helping others succeed in their tech journeys.
      </p>
    </Fragment>
  </Content>

  <Steps
    id="work-history"
    title="Work History"
    items={[
      {
        title: 'Developer Success Engineer <br /> <span class="font-normal">WorkOS</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: 'Engaging with developer communities, creating content, and advocating for WorkOS products.',
        icon: 'tabler:password-user',
      },
      {
        title: 'Developer Advocate <br /> <span class="font-normal">Frontegg</span> <br /> <span class="text-sm font-normal">January 2024 - September 2024</span>',
        description: 'As a Developer Advocate at Frontegg earlier this year, I created videos and blogs to educate users on the products and capabilities of Frontegg. I also helped ideate and write submissions for speaking engagements, with notable acceptances to conferences such as Authenticate and LeadDev.',
        icon: 'tabler:eggs',
      },
      {
        title: 'Software Engineer <br /> <span class="font-normal">Feanix Biotechnologies</span> <br /> <span class="text-sm font-normal">2019 - 2022</span>',
        description: 'Developed scalable web applications and contributed to open-source projects.',
        icon: 'tabler:dna-2',
      },
      {
        title: 'Solutions Engineer <br /> <span class="font-normal">Esper</span> <br /> <span class="text-sm font-normal">2019 - 2022</span>',
        description: 'Developed scalable web applications and contributed to open-source projects.',
        icon: 'tabler:briefcase',
      },
      {
        title: 'Solutions Engineer <br /> <span class="font-normal">Auth0/Okta</span> <br /> <span class="text-sm font-normal">2019 - 2022</span>',
        description: 'Developed scalable web applications and contributed to open-source projects.',
        icon: 'tabler:eggs',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
</Layout>
